<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Vivek David's personal website</title>

<style>

body{
/*mobile */
padding:1.rem}

@media (min-width: 500px){
body{padding:1.5rem;}

}

@media (min-width: 900px){
body{padding:1.5rem;}

}

#menu{
	position:fixed;
	background:white;
	width:100%;
	top:0;}

h1:first-of-type{padding-top:1em;}
#dashed{border-style:dashed}

h1{
text-align:center;
font-size:2rem;
font-weight:normal;
}
h2{
font-size: 1.5rem;
font-weight:bold}

p{line-height:1.4rem;
text-indent:1.5rem;}


li { margin-top:1rem;
line-height:1.5rem;
padding-left:1rem}




</style>
</head>
<body>
Vivek David's homepage  
<!-- <div id = "menu">  -->
  <!-- &nbsp;  &nbsp; &nbsp; / Home &nbsp;  / Guestbook &nbsp; /Links -->

<hr id="dashed">

</div>

<p>At the moment I only have one project but will post more soon.</p> 

<h1> Project</h1>

<ul>
	<li class ="gen"><h2><a href="/wiki"> Theology of the Body Wiki</a></h2> 
An group effort to summarize and explain John Paul II's theology of the body wiki. At the moment editing is open only to a small community but I may open it up to the internet in the future. 
</li>

</body>
</html>
